<ion-header>
  <ion-toolbar>
    <ion-title>Contratame</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  
  <ion-card>

    <img alt="Fotos" src="assets/img/1.jpeg" />

    <ion-card-header>
      <ion-card-title>Perfil</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Ariel Luis Pérez de la Cruz
    </ion-card-content>

    <ion-card-content>
      Luisarielperes@gmail.com
    </ion-card-content>

    <ion-card-content>
      809-907-5746
    </ion-card-content>

    <ion-card-content>
      https://github.com/arielluispe
    </ion-card-content>
    
  </ion-card>
</ion-content>