<ion-header>
  <ion-toolbar>
    <ion-title>
      Clima en RD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Descripción del clima:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ weather.description }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Temperatura:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ weather.temp }} °C
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sensación térmica:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ weather.feels_like }} °C
    </ion-card-content>
  </ion-card>
</ion-content>

